@import '../../variables';

.Services {
  .Services-sections {
    .ServiceSection {
      .ServiceSection-area-background {
        height: 40vh;
        .ServiceSection-image {
          height: 100%;
          width: 100%;
          object-fit: cover;
          &.contains {
            object-fit: contain;
          }
        }
      }
      .ServiceSection-area-text {
        .ServiceSection-text-title {
          margin: 2rem;
          margin-bottom: 0;
        }
        .ServiceSection-text-content {
          margin: 2rem;
          margin-top: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-size-medium) {
  .Services {
    .Services-sections {
      justify-content: space-around;
      display: flex;
      .ServiceSection {
        width: 30%;
        .ServiceSection-area-background {

          .ServiceSection-image {

          }
        }
        .ServiceSection-area-text {
          .ServiceSection-text-title {

          }
          .ServiceSection-text-content {

          }
        }
      }
    }
  }
}