@import '../../variables';

.Projects {
  .ProjectSection {
    position: relative;
    height: calc(100vh - 50px);
    overflow: hidden;

    &.ProjectSection-even {
      background: $color-main;
      color: white;
    }

    .ProjectSection-area  {

      &.ProjectSection-text {
        height: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .ProjectSection-text-title {
          margin: 0 2rem;
        }
        .ProjectSection-text-content {
          margin: 2rem;
        }
      }

      &.ProjectSection-background {
        height: 55%;
        .ProjectSection-image {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-size-medium) {
  .Projects {
    .ProjectSection {
      height: 50vh;
      display: flex;
      .ProjectSection-area  {
        &.ProjectSection-text,
        &.ProjectSection-background {
          height: 100%;
          width: 50%;
        }
      }
      &.ProjectSection-even {
        .ProjectSection-area.ProjectSection-text {
          position: absolute;
          right: 0;
          left: 50%;
        }
        .ProjectSection-area.ProjectSection-background {
          position: absolute;
          left: 0;
          right: 50%;
        }
      }
    }
  }
}
