.Home {
  position: relative;

  .Home-page {
    position: relative;
    height: calc(100vh - 50px);
    background-color: rgba(255,255,255,0.75);
    overflow: hidden;

    &.Home-page-small {
      height: 50vh;
    }

    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .Home-page-main-title {
      width: 15rem;
      margin: auto;
    }

    .Home-page-bottom {
      position: absolute;
      bottom: 5%;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
    }

    .Home-page-background-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: -1;

      display: flex;
      align-items: center;
      justify-content: center;

      .Home-page-background {
        height: 100%;
        width: 100%;

        object-fit: cover;
      }
    }
  }
}
