/* Home */
.Home {
  position: relative;
  height: auto;
}

.Home .Home-page {
  position: relative;
  height: calc(100vh - 50px);
  background-color: rgba(255,255,255,0.75);
  overflow: hidden;

  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Home .Home-page.Home-page-small {
  position: relative;
  height: 50vh;
}
.Home .Home-page .Home-page-background-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}
.Home .Home-page .Home-page-background-container .Home-page-background {
  height: 100%;
  width: 100%;

  object-fit: cover;
}