@import '../../variables';

.Contact {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .Contact-title {
    font-size: 1.5rem;
  }

  .Contact-content {
    margin: 2rem;
    width: calc(100% - 4rem);
  }

  .Contact-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;

    .Contact-label {
      width: 100%;
      margin: 0;
    }

    .Contact-input,
    .Contact-textarea {
      width: 100%;
    }
  }

  .Contact-btn {
    height: 3rem;
    width:  calc(100% - 2rem);

    border: 0;
    border-radius: 1.5rem;

    background-color: rgb(71,112,82);
    color: white;

    &:disabled {
      background-color: lightgrey;
      cursor: not-allowed;
    }

    &.Contact-btn-sent {
      background-color: white;
      pointer-events: none;
      border: 3px solid $color-main;
      color: $color-main;
    }

    &.Contact-btn-error {
      background-color: white;
      pointer-events: none;
      border: 3px solid red;
      color: red;
    }
  }
}
