@import '../variables';

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: $screen-size-small) {

}

@media screen and (min-width: $screen-size-medium) {
  .container > * {
    width: $screen-size-medium;
  }
}

@media screen and (min-width: $screen-size-large) {
  .container > * {
    width: $screen-size-large;
  }
}

@media screen and (min-width: $screen-size-xlarge) {
  .container > * {
    width: $screen-size-xlarge;
  }
}
