/* App */
.App {
  text-align: center;
}

/* AppHeader */
.AppHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;

  background: white !important;
  color: black !important;

  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AppHeader .AppHeader-item {
  margin: 1rem
}
.AppHeader .AppHeader-item .AppHeader-link {
  color: initial;
}
.AppHeader .AppHeader-item .AppHeader-link:hover {
  color: initial;
  text-decoration: none;
}
.AppHeader .AppHeader-links {
  display: none;
  align-items: center;
}
.AppHeader .AppHeader-menu-btn {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
}
.AppHeader .AppHeader-menu {
  display: none;
  z-index: 1;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  color: black;
  background: rgba(255,255,255,0.5);
}

.AppHeader .AppHeader-menu.AppHeader-menu-show {
  display: block;
}
.AppHeader .AppHeader-menu .AppHeader-menu-list {
  padding: 0;
  margin: 0;
}
.AppHeader .AppHeader-menu .AppHeader-menu-item {
  padding: 0.25rem 0;
  cursor: pointer;
}
.AppHeader .AppHeader-menu .AppHeader-menu-item:hover {
  background: lightgrey;
}
.AppHeader .AppHeader-menu .AppHeader-menu-item .AppHeader-menu-link {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 640px) {
  .AppHeader .AppHeader-links {
    display: flex;
  }
  .AppHeader .AppHeader-menu-btn {
    display: none;
  }
  .AppHeader .AppHeader-menu {
    display: none !important;
  }
}

/* AppContent */
.AppContent {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(255,255,255,0.75) !important;
  color: rgb(71,112,82) !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AppContent .AppContent-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;

  background-image: url("https://github.com/bullepouzoulet/bullepouzoulet.github.io/blob/master/background.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.AppContent h1 {
  font-size: 4rem;
  text-align: center;
}
.AppContent h2 {
  font-size: 2rem;
  text-align: center;
}
.AppContent h3 {
  margin-top: 10rem;
}

