/* App */
.App {
  text-align: center;
}

/* AppHeader */
.AppHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;

  z-index: 2;

  background: white !important;
  color: black !important;

  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AppHeader .AppHeader-item {
  margin: 1rem
}
.AppHeader .AppHeader-item .AppHeader-link {
  color: initial;
  text-decoration: none;
}
.AppHeader .AppHeader-item .AppHeader-link.AppHeader-link-active {
  color: rgb(71,112,82);
  border-bottom: 2px solid rgb(71,112,82);
}
.AppHeader .AppHeader-links {
  display: none;
  align-items: center;
}
.AppHeader .AppHeader-menu-btn-container {
  position: relative;
  height: 2rem;
  width: 2rem;
}
.AppHeader .AppHeader-menu-btn-container .AppHeader-menu-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;

  cursor: pointer;
}
.AppHeader .AppHeader-menu-btn-container .AppHeader-menu-btn-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  cursor: pointer;
}
.AppHeader .AppHeader-menu {
  display: none;

  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;

  color: black;
  background: rgba(255,255,255,0.75);
}

.AppHeader .AppHeader-menu.AppHeader-menu-show {
  display: block;
}
.AppHeader .AppHeader-menu .AppHeader-menu-list {
  padding: 0;
  margin: 0;
}
.AppHeader .AppHeader-menu .AppHeader-menu-item .AppHeader-menu-link {
  display: block;
  color: black;
  text-decoration: none;
  padding: 0.5rem 0;
  transition: background-color 0.25s;
}
.AppHeader .AppHeader-menu .AppHeader-menu-item .AppHeader-menu-link:hover {
  background-color: lightgrey;
}
.AppHeader .AppHeader-menu .AppHeader-menu-item .AppHeader-menu-link.AppHeader-menu-link-active {
  color: rgb(71,112,82);
  font-weight: bold;
}

@media screen and (min-width: 740px) {
  .AppHeader .AppHeader-links {
    display: flex;
  }
  .AppHeader .AppHeader-menu-btn-container {
    display: none;
  }
  .AppHeader .AppHeader-menu {
    display: none !important;
  }
}

/* AppContent */
.AppContent {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: scroll;
}
