.App {
  text-align: center;
}

.App-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;

  background: white !important;
  color: black !important;

  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App-header span {
  margin: 1rem;
}
.App-header .App-header-item {
  border-bottom: 2px solid black;
}

.App-content {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(255,255,255,0.75) !important;
  color: rgb(71,112,82) !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-content .App-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;

  background-image: url("https://github.com/bullepouzoulet/bullepouzoulet.github.io/blob/master/background.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.App-content h1 {
  font-size: 4rem;
  text-align: center;
}
.App-content h2 {
  font-size: 2rem;
  text-align: center;
}
.App-content h3 {
  margin-top: 10rem;
}
