@import '../variables';

.AppContent {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: scroll;
  overflow-x: hidden;

  color: $color-main;
  background: lightgrey;

  .container {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }
}
